{% extends 'base.html' %}
{% load static %}
{% block content %}

<header id="header" class="header d-flex align-items-center position-relative" style="background-color: #000;">

    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="{% if company %}{% url 'ecommerce:company_page' company.id_company %}{% else %}{% url 'ecommerce:index' %}{% endif %}"
            class="logo d-flex align-items-center">

            {% if company and company.logo %}
            <img src="{{ company.logo.url }}" alt="{{ company.nome }}" class="logo-img">
            {% else %}
            <h1 class="sitename">Doa</h1>
            <span>+</span>
            {% endif %}
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'ecommerce:index' %}" class="active">Inicio<br></a></li>
                <li><a href="{% url 'ecommerce:companies' %}">Lojas</a></li>
                <li class="dropdown">
                    <a href="#">
                        <span>Como ajudar</span>
                        <i class="bi bi-chevron-down toggle-dropdown"> </i>
                    </a>
                    <ul>
                        <li><a href="{% url 'ecommerce:category_page' 4 %}">Causas</a></li>
                        <li><a href="{% url 'ecommerce:category_page' 3 %}">ONGs</a></li>

                    </ul>
                </li>

            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <div class="d-flex align-items-center justify-content-between gap-3">
            <!-- Campo de busca -->
            <form method="get" action="">
                <input type="search" name="q" class="form-control" placeholder="Buscar..." aria-label="Search"
                    style="color: #000;">
                <button type="submit" class="btn btn-primary" style="display: none;">Buscar</button>
            </form>
            {% if user.is_authenticated %}
            <div style="color:aliceblue;">Olá, {{user.first_name}}!</div>
            {% endif %}
            <!-- Dropdown do usuário -->
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'assets/img/people.png' %}" alt="mdo" width="32" height="32"
                        class="rounded-circle"> </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if not user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'authentication:login' %}">Entrar</a></li>
                    <li><a class="dropdown-item" href="#">Cadastrar</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'ecommerce:home' %}">Meus Cupons</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'ecommerce:create_item' %}">
                            Minhas campanhas
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">Sair</a></li>
                    {% endif %}
                </ul>

            </div>

        </div>


    </div>

    </div>
</header>

<section id="services" class="services section">
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">
            <font dir="auto" style="vertical-align: inherit;">
                <font dir="auto" style="vertical-align: inherit;">Confira os seus cupons disponíveis</font>
            </font>
        </h2>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{% static 'assets/img/CUPOM.jpg' %}'); background-size: cover; background-position: center;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white"
                            style="-webkit-text-stroke: 2px rgb(0, 0, 0);">
                            <font dir="auto" style="vertical-align: inherit;">
                                <font dir="auto" style="vertical-align: inherit;">CADE O TEXTO</font>
                            </font>
                        </h3>
                        <div class="text-center mt-4">
                            <a href="{% url 'ecommerce:companies' %}"
                                class="btn btn-light px-4 py-2 rounded-pill fw-bold text-decoration-none">
                                Utilizar cupom
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}